*{
    font: sans-serif;
}
h3,h4{
    text-transform: capitalize;
}
h3{
    display: block;
    color: teal;
    padding: 10px 5px !important;
}
h4{
    color: orangered;
    padding: 15px 0 0 !important;
}
 ul{
   list-style: none;
 }
 a{
     text-decoration: none;
     color: black !important;
 }
 a:hover{
     text-decoration: underline !important;
 }
.btn{
    background: #ffffff;
    color: green;
    padding: 5px;
    border: 1px solid green;
    border-radius: 10px;
    outline: none;
}

.activeBtn{
    background: green;
    color: #ffffff;
    cursor: pointer;
}
.modalWrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
}
.modalContainer{
    width: 50%;
    min-height: 150px;
    margin: 60px auto;
    padding: 15px;
    background: #ffffff;
    border: 5px solid olivedrab;
    z-index: 2;
}